<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
</head>
<body >
	<nav th:fragment="navs" class="navbar navbar-default" role="navigation" style="background-color:#fbf8ef;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/admin/redirect/index">后台首页</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/admin/typeList">类目管理</a></li>
					<li><a href="/admin/goodList">商品管理</a></li>
					<li><a href="/admin/orderList">订单管理</a></li>
					<li><a href="/admin/userList">客户管理</a></li>
					<li><a href="/admin/adminList">管理员</a></li>
					<li><a href="/admin/logout">退出</a></li>
				</ul>
			</div>
		</div>
		<script src="/js/jquery.js"></script>
		<script>
			if(localStorage.getItem("click")==null) localStorage.setItem("click",0);
			$("ul>li").removeClass("active");
			$($("ul>li")[parseInt(localStorage.getItem("click"))]).addClass("active");
			$("ul>li").click(function (){
				localStorage.setItem("click",$(this).index());
			})
		</script>
	</nav>
</body>

</html>